.book-result {
  margin: 10px;

  &__content {
    display: flex;
  }

  &__img {
    margin-right: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__authors {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__author {
    display: inline-block;

    & + &::before {
      content: ",";
    }
  }

  &__link {
    text-decoration: none;
  }
}
